* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.header {
  width: 100%;
  padding: 20px;
  background-color: #010205;
  border-bottom: 5px solid #959595;
}
.header__contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__contenedor .header__contenedor--img img {
  width: 20%;
  margin: 15px 0 0 35px;
}
.header__contenedor .header__contenedor--menu ul {
  margin: 15px 35px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contenedor .header__contenedor--menu ul li a {
  margin-right: 35px;
  color: white;
  font-size: 20px;
  font-family: "Gemunu Libre", sans-serif;
  text-decoration: none;
}

.main, .section, .aside, .section3 {
  width: 100%;
  height: 88vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(228deg, #010205, #434343);
}
.main__contenedor, .section__contenedor, .section__contenedor2, .section__contenedor2 .section__contenedor--mini .section__contenedor--img, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2, .section__contenedor2 .section__contenedor--mini .section__contenedor--input, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input, .section__contenedor .section__contenedor--mini .section__contenedor--input, .section__contenedor .section__contenedor--mini .section__contenedor--img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.main__contenedor video, .section__contenedor video, .section__contenedor2 video, .section__contenedor2 .section__contenedor--mini .section__contenedor--img video, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img video, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 video, .section__contenedor2 .section__contenedor--mini .section__contenedor--input video, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input video, .section__contenedor .section__contenedor--mini .section__contenedor--input video, .section__contenedor .section__contenedor--mini .section__contenedor--img video {
  width: 60%;
}
.main__creditos {
  position: absolute;
  top: 890px;
  right: 0;
  bottom: 0;
  left: 0;
}
.main__creditos a {
  margin: 0 20px 0 50px;
  color: white;
  text-decoration: none;
  font-family: "Gemunu Libre", sans-serif;
}

.aside, .section3 {
  height: 220vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.aside__contenedor, .aside .aside__contenedor3, .section3 .aside__contenedor3, .aside .aside__contenedor2, .section3 .aside__contenedor2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 450px 50px 450px 50px 450px;
  grid-template-columns: repeat(3, 450px);
  grid-auto-rows: 150px 300px;
  row-gap: 50px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-bottom: 50px;
}
.aside__contenedor .aside__contenedor--titulo, .aside .aside__contenedor3 .aside__contenedor--titulo, .section3 .aside__contenedor3 .aside__contenedor--titulo, .aside .aside__contenedor3 .aside__contenedor--titulo3, .section3 .aside__contenedor3 .aside__contenedor--titulo3, .aside .aside__contenedor2 .aside__contenedor--titulo, .section3 .aside__contenedor2 .aside__contenedor--titulo {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.aside__contenedor .aside__contenedor--titulo .contenedor--h1, .aside .aside__contenedor3 .aside__contenedor--titulo .contenedor--h1, .section3 .aside__contenedor3 .aside__contenedor--titulo .contenedor--h1, .aside .aside__contenedor3 .aside__contenedor--titulo3 .contenedor--h1, .section3 .aside__contenedor3 .aside__contenedor--titulo3 .contenedor--h1, .aside .aside__contenedor2 .aside__contenedor--titulo .contenedor--h1, .section3 .aside__contenedor2 .aside__contenedor--titulo .contenedor--h1 {
  margin-top: 80px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
}
.aside__contenedor .aside__contenedor--img, .aside .aside__contenedor3 .aside__contenedor--img, .section3 .aside__contenedor3 .aside__contenedor--img, .aside .aside__contenedor2 .aside__contenedor--img, .section3 .aside__contenedor2 .aside__contenedor--img, .aside .aside__contenedor2 .aside__contenedor--img2, .section3 .aside__contenedor2 .aside__contenedor--img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-column: 1;
  grid-column: 1;
}
.aside__contenedor .aside__contenedor--img .contenedor--img, .aside__contenedor .aside__contenedor--img .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .aside__contenedor .aside__contenedor--img .contenedor--img2, .aside .aside__contenedor3 .aside__contenedor--img .contenedor--img, .section3 .aside__contenedor3 .aside__contenedor--img .contenedor--img, .aside .aside__contenedor3 .aside__contenedor--img .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2, .section3 .aside__contenedor3 .aside__contenedor--img .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .aside .aside__contenedor3 .aside__contenedor--img .contenedor--img2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section3 .aside__contenedor3 .aside__contenedor--img .contenedor--img2, .aside .aside__contenedor2 .aside__contenedor--img .contenedor--img, .section3 .aside__contenedor2 .aside__contenedor--img .contenedor--img, .aside .aside__contenedor2 .aside__contenedor--img .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2, .section3 .aside__contenedor2 .aside__contenedor--img .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .aside .aside__contenedor2 .aside__contenedor--img .contenedor--img2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section3 .aside__contenedor2 .aside__contenedor--img .contenedor--img2, .aside .aside__contenedor2 .aside__contenedor--img2 .contenedor--img, .section3 .aside__contenedor2 .aside__contenedor--img2 .contenedor--img, .aside .aside__contenedor2 .aside__contenedor--img2 .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2, .section3 .aside__contenedor2 .aside__contenedor--img2 .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .aside .aside__contenedor2 .aside__contenedor--img2 .contenedor--img2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section3 .aside__contenedor2 .aside__contenedor--img2 .contenedor--img2 {
  width: 45%;
  -o-object-fit: contain;
     object-fit: contain;
}
.aside__contenedor .aside__contenedor--p, .aside .aside__contenedor3 .aside__contenedor--p, .section3 .aside__contenedor3 .aside__contenedor--p, .aside .aside__contenedor2 .aside__contenedor--p, .section3 .aside__contenedor2 .aside__contenedor--p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__contenedor .aside__contenedor--p .contenedor--p, .aside .aside__contenedor3 .aside__contenedor--p .contenedor--p, .section3 .aside__contenedor3 .aside__contenedor--p .contenedor--p, .aside .aside__contenedor2 .aside__contenedor--p .contenedor--p, .section3 .aside__contenedor2 .aside__contenedor--p .contenedor--p {
  font-family: "Poppins", sans-serif;
  color: white;
}
.aside__contenedor .aside__contenedor--stars, .aside .aside__contenedor3 .aside__contenedor--stars, .section3 .aside__contenedor3 .aside__contenedor--stars, .aside .aside__contenedor2 .aside__contenedor--stars, .section3 .aside__contenedor2 .aside__contenedor--stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aside__contenedor .aside__contenedor--stars img, .aside .aside__contenedor3 .aside__contenedor--stars img, .section3 .aside__contenedor3 .aside__contenedor--stars img, .aside .aside__contenedor2 .aside__contenedor--stars img, .section3 .aside__contenedor2 .aside__contenedor--stars img {
  width: 30%;
  height: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
.aside__contenedor .aside__contenedor--stars input, .aside .aside__contenedor3 .aside__contenedor--stars input, .section3 .aside__contenedor3 .aside__contenedor--stars input, .aside .aside__contenedor2 .aside__contenedor--stars input, .section3 .aside__contenedor2 .aside__contenedor--stars input {
  width: 50%;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid white;
  outline: none;
}
.aside__contenedor .aside__contenedor--stars a, .aside .aside__contenedor3 .aside__contenedor--stars a, .section3 .aside__contenedor3 .aside__contenedor--stars a, .aside .aside__contenedor2 .aside__contenedor--stars a, .section3 .aside__contenedor2 .aside__contenedor--stars a {
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
}
.aside .aside__contenedor2, .section3 .aside__contenedor2 {
  grid-auto-rows: 300px 300px;
}
.aside .aside__contenedor3, .section3 .aside__contenedor3 {
  row-gap: 140px;
}
.aside .aside__contenedor3 .aside__contenedor--titulo3 .contenedor--h1, .section3 .aside__contenedor3 .aside__contenedor--titulo3 .contenedor--h1 {
  margin-top: 80px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
}
.aside .aside__contenedor3 .aside__contenedor--comics1, .section3 .aside__contenedor3 .aside__contenedor--comics1, .aside .aside__contenedor3 .aside__contenedor--comics6, .section3 .aside__contenedor3 .aside__contenedor--comics6, .aside .aside__contenedor3 .aside__contenedor--comics5, .section3 .aside__contenedor3 .aside__contenedor--comics5, .aside .aside__contenedor3 .aside__contenedor--comics4, .section3 .aside__contenedor3 .aside__contenedor--comics4, .aside .aside__contenedor3 .aside__contenedor--comics3, .section3 .aside__contenedor3 .aside__contenedor--comics3, .aside .aside__contenedor3 .aside__contenedor--comics2, .section3 .aside__contenedor3 .aside__contenedor--comics2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 1;
  grid-column: 1;
}
.aside .aside__contenedor3 .aside__contenedor--comics1 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics1 .contenedor--img3, .aside .aside__contenedor3 .aside__contenedor--comics6 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics6 .contenedor--img3, .aside .aside__contenedor3 .aside__contenedor--comics5 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics5 .contenedor--img3, .aside .aside__contenedor3 .aside__contenedor--comics4 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics4 .contenedor--img3, .aside .aside__contenedor3 .aside__contenedor--comics3 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics3 .contenedor--img3, .aside .aside__contenedor3 .aside__contenedor--comics2 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics2 .contenedor--img3 {
  width: 45%;
  -o-object-fit: contain;
     object-fit: contain;
}
.aside .aside__contenedor3 .aside__contenedor--comics1 .contenedor--p3, .section3 .aside__contenedor3 .aside__contenedor--comics1 .contenedor--p3, .aside .aside__contenedor3 .aside__contenedor--comics6 .contenedor--p3, .section3 .aside__contenedor3 .aside__contenedor--comics6 .contenedor--p3, .aside .aside__contenedor3 .aside__contenedor--comics5 .contenedor--p3, .section3 .aside__contenedor3 .aside__contenedor--comics5 .contenedor--p3, .aside .aside__contenedor3 .aside__contenedor--comics4 .contenedor--p3, .section3 .aside__contenedor3 .aside__contenedor--comics4 .contenedor--p3, .aside .aside__contenedor3 .aside__contenedor--comics3 .contenedor--p3, .section3 .aside__contenedor3 .aside__contenedor--comics3 .contenedor--p3, .aside .aside__contenedor3 .aside__contenedor--comics2 .contenedor--p3, .section3 .aside__contenedor3 .aside__contenedor--comics2 .contenedor--p3 {
  margin-top: 25px;
  font-family: "Poppins", sans-serif;
  color: white;
}
.aside .aside__contenedor3 .aside__contenedor--comics2, .section3 .aside__contenedor3 .aside__contenedor--comics2 {
  -ms-grid-column: 2;
  grid-column: 2;
}
.aside .aside__contenedor3 .aside__contenedor--comics2 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics2 .contenedor--img3 {
  width: 45%;
}
.aside .aside__contenedor3 .aside__contenedor--comics3, .section3 .aside__contenedor3 .aside__contenedor--comics3 {
  -ms-grid-column: 3;
  grid-column: 3;
}
.aside .aside__contenedor3 .aside__contenedor--comics3 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics3 .contenedor--img3 {
  width: 45%;
}
.aside .aside__contenedor3 .aside__contenedor--comics4, .section3 .aside__contenedor3 .aside__contenedor--comics4 {
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  grid-row: 2;
}
.aside .aside__contenedor3 .aside__contenedor--comics4 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics4 .contenedor--img3 {
  width: 45%;
}
.aside .aside__contenedor3 .aside__contenedor--comics5, .section3 .aside__contenedor3 .aside__contenedor--comics5 {
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-row: 2;
  grid-row: 2;
}
.aside .aside__contenedor3 .aside__contenedor--comics5 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics5 .contenedor--img3 {
  width: 45%;
}
.aside .aside__contenedor3 .aside__contenedor--comics6, .section3 .aside__contenedor3 .aside__contenedor--comics6 {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
}
.aside .aside__contenedor3 .aside__contenedor--comics6 .contenedor--img3, .section3 .aside__contenedor3 .aside__contenedor--comics6 .contenedor--img3 {
  width: 45%;
}

.section {
  height: 200vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(228deg, #010205, #294D7F);
}
.section__contenedor, .section__contenedor2, .section__contenedor2 .section__contenedor--mini .section__contenedor--img, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2, .section__contenedor2 .section__contenedor--mini .section__contenedor--input, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input, .section__contenedor .section__contenedor--mini .section__contenedor--input, .section__contenedor .section__contenedor--mini .section__contenedor--img {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}
.section__contenedor .section__contenedor--title, .section__contenedor2 .section__contenedor--title, .section__contenedor2 .section__contenedor--title2, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--title, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--title, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--title, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--title2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--title2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--title2, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--title, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--title, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--title2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--title2, .section__contenedor .section__contenedor--mini .section__contenedor--input .section__contenedor--title, .section__contenedor .section__contenedor--mini .section__contenedor--img .section__contenedor--title {
  margin-bottom: 80px;
}
.section__contenedor .section__contenedor--title h1, .section__contenedor2 .section__contenedor--title h1, .section__contenedor2 .section__contenedor--title2 h1, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--title h1, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--title h1, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--title h1, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--title2 h1, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--title2 h1, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--title2 h1, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--title h1, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--title h1, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--title2 h1, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--title2 h1, .section__contenedor .section__contenedor--mini .section__contenedor--input .section__contenedor--title h1, .section__contenedor .section__contenedor--mini .section__contenedor--img .section__contenedor--title h1 {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
}
.section__contenedor .section__contenedor--mini, .section__contenedor2 .section__contenedor--mini, .section__contenedor2 .section__contenedor--mini2, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--mini, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--mini, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--mini, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--mini2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--mini2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--mini2, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--mini, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--mini, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--mini2, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--mini2, .section__contenedor .section__contenedor--mini .section__contenedor--input .section__contenedor--mini, .section__contenedor .section__contenedor--mini .section__contenedor--img .section__contenedor--mini {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
  grid-template-columns: 1fr 500px;
}
.section__contenedor .section__contenedor--mini .section__contenedor--img .contenedor--img, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .contenedor--img, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .contenedor--img, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2 {
  width: 70%;
  border-radius: 55px;
  -webkit-box-shadow: 10px 10px 15px 0px #434343;
          box-shadow: 10px 10px 15px 0px #434343;
}
.section__contenedor .section__contenedor--mini .section__contenedor--input input, .section__contenedor2 .section__contenedor--mini .section__contenedor--input input, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input input {
  width: 50%;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid white;
  outline: none;
}
.section__contenedor .section__contenedor--mini .section__contenedor--input a, .section__contenedor2 .section__contenedor--mini .section__contenedor--input a, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input a {
  margin-top: 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
}
.section__contenedor .section__contenedor--p, .section__contenedor2 .section__contenedor--p, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--p, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--p, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--p, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--p, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--p, .section__contenedor .section__contenedor--mini .section__contenedor--img .section__contenedor--p, .section__contenedor .section__contenedor--mini .section__contenedor--input .section__contenedor--p {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1400px;
  grid-template-columns: 1400px;
  margin-top: 50px;
}
.section__contenedor .section__contenedor--p p, .section__contenedor2 .section__contenedor--p p, .section__contenedor2 .section__contenedor--mini .section__contenedor--img .section__contenedor--p p, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img .section__contenedor--p p, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .section__contenedor--p p, .section__contenedor2 .section__contenedor--mini .section__contenedor--input .section__contenedor--p p, .section__contenedor2 .section__contenedor--mini2 .section__contenedor--input .section__contenedor--p p, .section__contenedor .section__contenedor--mini .section__contenedor--img .section__contenedor--p p, .section__contenedor .section__contenedor--mini .section__contenedor--input .section__contenedor--p p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
}
.section__contenedor2 .section__contenedor--mini2 .section__contenedor--img2 .contenedor--img2 {
  width: 52%;
}

.section2 {
  height: 130vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: linear-gradient(228deg, #010205, #294D7F);
}
.section2 .section2__contenedor {
  margin-bottom: 80px;
}
.section2 .section2__contenedor .section2__contenedor--foro h1 {
  font-family: "Gemunu Libre", sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
}
.section2 .section2__contenedor .section2__contenedor--items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 50px 500px;
  grid-template-columns: 500px 500px;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  margin-top: 80px;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--cajaImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--cajaImg .contenedor--imgH {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 17%;
  -webkit-box-shadow: 7px 5px 10px 0 #434343;
          box-shadow: 7px 5px 10px 0 #434343;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF .imgF--mine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF .imgF--mine .contenedor--imgP {
  width: 30%;
  border-radius: 50%;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF .imgF--mine h2 {
  margin-left: 15px;
  font-family: "Gemunu Libre", sans-serif;
  color: white;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF .imgF--mine2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--imgF .imgF--mine2 .contenedor--imgS {
  width: 60%;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 100px;
}
.section2 .section2__contenedor .section2__contenedor--items .section2__contenedor--mini .section2__contenedor--input input {
  width: 50%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid white;
  outline: none;
}
.section2 .section2__contenedor .section2__contenedor--foro2, .section2 .section2__contenedor .section2__contenedor--foro3 {
  margin-top: 80px;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--items2, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--items2, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--items3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--items2 .contenedor--imgP2, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--items2 .contenedor--imgP2, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--items3 .contenedor--imgP2, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--items3 .contenedor--imgP3 {
  width: 7%;
  height: 75px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--items2 h2, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--items2 h2, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--items3 h2 {
  margin-left: 15px;
  font-family: "Gemunu Libre", sans-serif;
  color: white;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--coment, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--coment input, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment input {
  width: 80%;
  padding: 20px;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--coment ::-webkit-input-placeholder, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment ::-webkit-input-placeholder {
  text-align: center;
  color: black;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--coment ::-moz-placeholder, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment ::-moz-placeholder {
  text-align: center;
  color: black;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--coment :-ms-input-placeholder, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment :-ms-input-placeholder {
  text-align: center;
  color: black;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--coment ::-ms-input-placeholder, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment ::-ms-input-placeholder {
  text-align: center;
  color: black;
}
.section2 .section2__contenedor .section2__contenedor--foro2 .section__contenedor--coment ::placeholder, .section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment ::placeholder {
  text-align: center;
  color: black;
}
.section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment {
  margin: 0 8%;
}
.section2 .section2__contenedor .section2__contenedor--foro3 .section__contenedor--coment p {
  font-family: "Poppins", sans-serif;
  color: white;
}

.section3 {
  height: 88vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.section3 .section3__contenedor {
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
  border-radius: 30px;
  background-color: #434343;
}
.section3 .section3__contenedor h1 {
  margin-bottom: 40px;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 35px;
  text-align: center;
  color: white;
}
.section3 .section3__contenedor .section3__contenedor--items .contenedor--items--n p {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: white;
}
.section3 .section3__contenedor .section3__contenedor--items .contenedor--items--n input {
  width: 100%;
  margin-bottom: 10px;
  padding: 7px;
  border-radius: 20px;
  border: 1px solid white;
  outline: none;
}
.section3 .section3__contenedor .section3__contenedor--items2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.section3 .section3__contenedor .section3__contenedor--items2 .contenedor--items--b button {
  margin-bottom: 10px;
  padding: 7px 20px;
  border: 1px solid #294D7F;
  border-radius: 10px;
  outline: none;
  color: white;
  background-color: #294D7F;
}
.section3 .section3__contenedor .section3__contenedor--items2 .contenedor--items--a a {
  margin: 0 5px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  color: white;
  text-decoration: none;
}