extend header.pug
block header_menu
        section.section2 
            .section2__contenedor
                .section2__contenedor--foro 
                    h1 foro
                .section2__contenedor--items
                    .section2__contenedor--cajaImg 
                        img.contenedor--imgH(src="../assets/imagenes/HaloCE.jpeg", alt="Halo CE")
                    .section2__contenedor--mini
                        .section2__contenedor--imgF
                            .imgF--mine 
                                img.contenedor--imgP(src="../assets/imagenes/gato.jpg", alt="Gato")
                                h2 Juanito Alimaña
                            .imgF--mine2
                                img.contenedor--imgS(src="../assets/imagenes/stars.png", alt="stars")
                        .section2__contenedor--input
                            input(type="text")
                .section2__contenedor--foro2
                    .section__contenedor--items2 
                        img.contenedor--imgP2(src="../assets/imagenes/perro.jpg", alt="perro")
                        h2 Juana De Arco 
                    .section__contenedor--coment 
                        input(type="text" placeholder="Haz un comentario")
                .section2__contenedor--foro3
                    .section__contenedor--items3 
                        img.contenedor--imgP3(src="../assets/imagenes/audi.jpg", alt="perro")
                        h2 Miguel Ángel 
                    .section__contenedor--coment 
                        p Tienes que agarrar el warthog en el angar, salir del pilar of autumn y llegar hasta al pelican antes de que se acabe el tiempo de la auto-destrucción.