extend header.pug
block header_menu
        main.main 
            .main__contenedor  
                video(controls)
                    source(src="../assets/video/Trailers.mp4")
            .main__creditos 
                a(href="") Creditos 
                a(href="") Derechos de autor