extend ../header.pug
block header_menu
        section.section3
            .section3__contenedor 
                h1 Registrate 
                .section3__contenedor--items 
                    .contenedor--items--n 
                        p Nombres: 
                        input(type="text")
                    .contenedor--items--n 
                        p Apellidos: 
                        input(type="text")
                    .contenedor--items--n 
                        p Correo: 
                        input(type="text")
                    .contenedor--items--n 
                        p Contraseña: 
                        input(type="text")
                .section3__contenedor--items2 
                    .contenedor--items--b 
                        button Registrate
                    .contenedor--items--a 
                        a(href="") Registrate con google 
                        a(href="") Registrate con facebook  
