$Color-principal: #010205;
$color-secundario: #294D7F;
$color-terciario: #325B90;
$color-cuarto: #959595;
$color-quinto: #434343;
$color-sexto: #C3CACE;
$color-texto-claro: white;
$color-texto-oscuro: black;
$fuente-titulo: 'Gemunu Libre', sans-serif;
$fuente-texto: 'Poppins', sans-serif;
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}